.dv1,.dv2,.dv3,.dv4{
  height: 400px;
  width: 300px;
  background-color: aqua;
  margin: auto;
  margin-top: 50px;
}
.app{
 display: grid;
 grid: repeat(1,0px) / auto-flow 1fr;
 width: 100%;
}
@media screen and (max-width: 1250px) {
  .app {
     /* The width is 100%, when the viewport is 800px or smaller */
     display: grid;
     grid: repeat(2,450px) / auto-flow 1fr;
  }
}
@media screen and (max-width: 650px) {
  .app {
     /* The width is 100%, when the viewport is 800px or smaller */
     display: inline;
     width: 100%;
  }
}